<!DOCTYPE html>
<html th:replace="~{layout/BASE::html('')}" xmlns:th="http://www.thymeleaf.org">
<div class="content" id="app" th:fragment="content">
    <h1>{{msg}}</h1>
    <img :src="admin.icon" height="100px" width="100px"/>
    <h2>Username:{{admin.username}}</h2>
    <h2>Email:{{admin.email}}</h2>
    <h2>nickName:{{admin.nickName}}</h2>
    <h2>note:{{admin.note}}</h2>
</div>
<script th:fragment="es6">

    var data = {
        msg: "用户信息",
        admin: {
            "username": "",
            "icon": "",
            "email": "",
            "nickName": "",
            "note": ""
        }
    };
    var app = new Vue({
        el: '#app',
        data: data,
        created: function () {
            console.log("Start---");
            this.getAdmin();
            console.log("End---")
        },
        methods: {
            getAdmin: function () {
                $.get("/admin", result => {
                    this.admin = result;
                });
            }
        }
    });
</script>
</html>